* {
  box-sizing: border-box;
  scroll-behavior: smooth !important;
  font-family: "Ropa Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

header {
  box-shadow: 0 -2px 10px black;
  margin-bottom: 16px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 2vw;
}

.container > div {
  display: flex;
  gap: 5%;
  width: 25%;
  min-width: 110px;
  font-size: 0.6rem;
  color: #777777;
}

.container > div > span {
  width: 50px;
}

.container > .menu--text {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  padding: 0 2vw;
}

main > img {
  width: 100%;
}

.offers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.offers > article {
  width: 80%;
  margin: 25px 0;
  padding-bottom: 20px;
  background-color: #eeeeee;
  box-shadow: 0px 2px 10px #999;
}

.offers > article > img {
  width: 100%;
}

.offer {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  color: #9f8d7e;
}

.new > span:nth-child(2) {
  text-align: center;
  font-size: 0.9rem;
  color: #fff;
  padding: 0 5px;
  background-color: #51d275;
  border-radius: 10px;
}

.sale > span:nth-child(2) {
  text-align: center;
  font-size: 0.9rem;
  color: #fff;
  padding: 0 5px;
  background-color: #dc9730;
  border-radius: 10px;
}

.offers > article > span {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 5px;
  font-size: 0.8rem;
  color: #9d9aa4;
}

.styles {
  text-align: center;
  color: #8f7d77;
}

.styles > article {
  position: relative;
  text-align: center;
  margin-bottom: 10px;
}

.styles > article > h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 1.3rem;
  font-weight: bolder;
  color: #FFF;
}

.styles > article > img {
  width: 100%;
  height: 11vh;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 15px;
}

form > h2 {
  color: #77777a;
}

form > input {
  text-align: center;
}

form > input,
form > textarea {
  outline: none;
  width: 80%;
  font-size: 1rem;
  padding-left: 5px;
}

form > button {
  font-size: 1.2rem;
  padding: 15px;
  border: none;
  border-radius: 30px;
  outline: none;
  color: white;
  background-color: #dc9730;
}

footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 15vh;
  padding: 2.5vw 45px;
  background-color: #333333;
  font-size: 0.8rem;
}

footer > iframe {
  display: none;
}

footer > div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
  gap: 10%;
}

footer img {
  margin-right: 10px;
}

@media (min-width: 700px) {
  .container {
    padding: 10px 50px;
  }

  .container > div:first-child > span {
    width: 50px;
  }

  .container > .menu--text {
    display: flex;
    justify-content: end;
    gap: 20px;
  }

  .container > .menu--text > a {
    width: min-content;
    text-decoration: none;
    color: #777777;
    font-size: 0.9rem;
  }

  .menu--image {
    display: none;
  }

  main {
    margin: auto;
    max-width: 960px;
  }

  .offers {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .offers > article {
    width: 40%;
  }

  form > input,
  form > textarea {
    width: 40%;
    color: #777;
  }
  
  footer {
      height: 25vh;
      justify-content: space-around;
  }

  footer > iframe {
    display: flex;
    height: 100%;
    width: 30%;
    max-width: 200px;
    border-radius: 15px;
  }

  footer > div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    color: white;
    gap: 10%;
  }

}
